@media (max-width: 450px) {
    .mainPage_contact {
        margin: 2rem 0 2rem 0;
        width: 100%;
        height: auto;

        .contactform {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contact__information {
            font-family: $font-source;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
        }

        .contact__information--salesman {
            font-family: $font-source;
            font-size: 1.3rem;
            text-align: center;
        }

        .contact__information--salesman-name {
            margin: 1rem 0 .3rem 0;
        }

        .contact__information--positioner {
            margin: 1rem 0 0 0;
        }

        .contact__smalltext {
            font-family: $font-source;
            font-size: 1rem;
            text-align: center;
            margin-bottom: .5rem;

        }

        .contactform__input {
            font-family: $font-source;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: #f1e8e8 solid 1px;
        }

        .contactform__error {
            font-family: $font-source;
            font-size: 1rem;
            text-align: center;
            margin-top: .4rem;

        }

        .checkbox_container {
            margin: 1rem;
            font-family: $font-source;
            font-size: .7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .checkBoxInfo {
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    .contactform__sendButton {
        border-radius: 4px;
        background-color: #00D6A6;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-family: $font-source;
        font-size: .8rem;
        padding: .4rem .4rem .4rem .4rem;
        width: 8rem;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .contactform__sendButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

    }

    .contactform__sendButton span:after {

        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .contactform__sendButton:hover span {
        padding-right: 25px;
    }

    .contactform__sendButton:hover span:after {
        opacity: 1;
        right: 0;
    }

    .checkBoxAlert {
        color: red;
    }

    .thanks__style {
        font-family: $font-source;
        font-size: 1rem;
        text-align: center;

    }

    .contact__information--salesman--number {
        font-family: $font-source;
        font-size: 1.3rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .contact__information--salesman--number:hover {
        transition: .5s;
        color: #00D6A6;
        cursor: pointer;
    }
}

@media(min-width:450px)and(max-width:700px) {
    .mainPage_contact {
        margin: 3rem 0 3rem 0;
        width: 100%;
        height: auto;

        .contactform {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contact__information {
            font-family: $font-source;
            font-weight: 600;
            font-size: 1.6rem;
            text-align: center;
        }

        .contact__information--salesman {
            font-family: $font-source;
            font-size: 1.4rem;
            text-align: center;
        }

        .contact__information--salesman-name {
            margin: 1rem 0 .3rem 0;
        }

        .contact__information--positioner {
            margin: 1rem 0 0 0;
        }

        .contact__smalltext {
            font-family: $font-source;
            font-size: 1.1rem;
            text-align: center;
            margin-bottom: .5rem;

        }

        .contactform__input {
            font-family: $font-source;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: #f1e8e8 solid 1px;
        }

        .contactform__error {
            font-family: $font-source;
            font-size: 1rem;
            text-align: center;
            margin-top: .4rem;

        }

        .checkbox_container {
            margin: 1rem;
            font-family: $font-source;
            font-size: .8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .checkBoxInfo {
            margin-bottom: 1.1rem;
            text-align: center;
        }
    }

    .contactform__sendButton {
        border-radius: 4px;
        background-color: #00D6A6;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-family: $font-source;
        font-size: 1rem;
        padding: .5rem .5rem .5rem .5rem;
        width: 8rem;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .contactform__sendButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

    }

    .contactform__sendButton span:after {

        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .contactform__sendButton:hover span {
        padding-right: 25px;
    }

    .contactform__sendButton:hover span:after {
        opacity: 1;
        right: 0;
    }

    .checkBoxAlert {
        color: red;
    }

    .thanks__style {
        font-family: $font-source;
        font-size: 1rem;
        text-align: center;

    }

    .contact__information--salesman--number {
        font-family: $font-source;
        font-size: 1.3rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .contact__information--salesman--number:hover {
        transition: .5s;
        color: #00D6A6;
        cursor: pointer;
    }
}



@media(min-width:700px) {
    .mainPage_contact {
        margin: 5rem 0 5rem 0;
        width: 100%;
        height: auto;

        .contactform {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contact__information {
            font-family: $font-source;
            font-weight: 600;
            font-size: 1.6rem;
            text-align: center;
        }

        .contact__information--salesman {
            font-family: $font-source;
            font-size: 1.4rem;
            text-align: center;
        }

        .contact__information--salesman-name {
            margin: 1rem 0 .3rem 0;
        }

        .contact__information--positioner {
            margin: 1rem 0 0 0;
        }

        .contact__smalltext {
            font-family: $font-source;
            font-size: 1.1rem;
            text-align: center;
            margin-bottom: .5rem;

        }

        .contactform__input {
            font-family: $font-source;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: #f1e8e8 solid 1px;
        }

        .contactform__error {
            font-family: $font-source;
            font-size: 1rem;
            text-align: center;
            margin-top: .4rem;

        }

        .checkbox_container {
            margin: 1rem;
            font-family: $font-source;
            font-size: .8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .checkBoxInfo {
            margin-bottom: 1.1rem;
            text-align: center;
        }
    }

    .contactform__sendButton {
        border-radius: 4px;
        background-color: #00D6A6;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-family: $font-source;
        font-size: 1.5rem;
        padding: .5rem .5rem .5rem .5rem;
        width: 12rem;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .contactform__sendButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

    }

    .contactform__sendButton span:after {

        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .contactform__sendButton:hover span {
        padding-right: 25px;
    }

    .contactform__sendButton:hover span:after {
        opacity: 1;
        right: 0;
    }

    .checkBoxAlert {
        color: red;
    }

    .thanks__style {
        font-family: $font-source;
        font-size: 1rem;
        text-align: center;

    }

    .contact__information--salesman--number {
        font-family: $font-source;
        font-size: 1.3rem;
        text-align: center;
        text-decoration: none;
        color: black;
    }

    .contact__information--salesman--number:hover {
        transition: .5s;
        color: #00D6A6;
        cursor: pointer;
    }
}