@media (max-width: 450px) {

    .range_petContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .range_pet {
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }

    .addressCheck {
        width: 100%;
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .localizationBoxContainer {

            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .searchInfo {
                font-family: $font-source;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            .addressCheck__label {
                margin: 1px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .formInputs {
                font-family: $font-source;
            }

            .suggestionsPositioner {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .suggestionsList {
                position: absolute;
                top: 3rem;
                width: auto;
                border-top: none;
                background: white;
                height: 65px;

                z-index: 1;

                .suggestionListElement {
                    height: auto;
                    width: 210px;
                    text-align: center;
                    font-family: $font-source;
                    font-size: 1.2rem;
                }
            }

            .formInputs:last-of-type {
                margin: 1rem 0 1rem 0;
            }

            .about_button {
                border-radius: 4px;
                background-color: #00D6A6;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-family: $font-source;
                font-size: .8rem;
                padding: .4rem .4rem .4rem .4rem;
                width: 8rem;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .about_button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

            }

            .about_button span:after {

                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .about_button:hover span {
                padding-right: 25px;
            }

            .about_button:hover span:after {
                opacity: 1;
                right: 0;
            }

            .about_button2 {
                border-radius: 4px;
                background-color: #00D6A6;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-family: $font-source;
                font-size: .8rem;
                padding: .4rem .4rem .4rem .4rem;
                width: 8rem;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .about_button2 span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

            }

            .about_button2 span:after {

                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .about_button2:hover span {
                padding-right: 25px;
            }

            .about_button2:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }

    .errorInfo {
        font-family: $font-source;
        font-size: 1rem;
        text-align: center;
        color: #ff008b;
    }

    .successInfo {
        font-family: $font-source;
        font-size: 1rem;
        text-align: center;
        color: #00d5a6;
        margin-bottom: 1rem;
    }

    .range_checkButtonsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .fa-smile {
        color: #00d5a6;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .fa-frown {
        color: #ff008b;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .formInputs {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: #f1e8e8 solid 1px;
    }
}

@media(min-width:450px)and(max-width:700px) {
    .fa-smile {
        color: #00d5a6;
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    .fa-frown {
        color: #ff008b;
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    .range_petContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .range_pet {
        width: 50%;
        height: 50%;
        border-radius: 50%;

    }

    .addressCheck {

        width: 100%;
        height: 25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .localizationBoxContainer {

            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .searchInfo {
                font-family: $font-source;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            .addressCheck__label {
                margin: 1px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .formInputs {
                font-family: $font-source;
            }

            .suggestionsPositioner {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .suggestionsList {
                position: absolute;
                top: 3rem;
                width: auto;
                border-top: none;
                background: white;
                height: 65px;
                z-index: 1;

                .suggestionListElement {
                    height: auto;
                    width: 210px;
                    text-align: center;
                    font-family: $font-source;
                    font-size: 1.2rem;
                }
            }

            .formInputs:last-of-type {
                margin: 1rem 0 1rem 0;
            }

            .about_button {
                border-radius: 4px;
                background-color: #00D6A6;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-family: $font-source;
                font-size: 1rem;
                padding: .5rem .5rem .5rem .5rem;
                width: 8rem;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .about_button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

            }

            .about_button span:after {

                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .about_button:hover span {
                padding-right: 25px;
            }

            .about_button:hover span:after {
                opacity: 1;
                right: 0;
            }

            .about_button2 {
                border-radius: 4px;
                background-color: #00D6A6;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-family: $font-source;

                font-size: 1rem;
                padding: .5rem .5rem .5rem .5rem;
                width: 8rem;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .about_button2 span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

            }

            .about_button2 span:after {

                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .about_button2:hover span {
                padding-right: 25px;
            }

            .about_button2:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }

    .errorInfo {
        font-family: $font-source;
        font-size: 1.5rem;
        text-align: center;
        color: #ff008b;
    }

    .successInfo {
        font-family: $font-source;
        font-size: 1.5rem;
        text-align: center;
        color: #00d5a6;
        margin-bottom: 1rem;
    }

    .range_checkButtonsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formInputs {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: #f1e8e8 solid 1px;
    }


}

@media(min-width:700px) {
    .fa-smile {
        color: #00d5a6;
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }

    .fa-frown {
        color: #ff008b;
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }

    .range_petContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .range_pet {
        width: 50%;
        height: 50%;
        border-radius: 50%;

    }

    .addressCheck {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;

        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .localizationBoxContainer {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            .searchInfo {
                font-family: $font-source;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: .8rem;
            }

            .addressCheck__label {
                margin: 1px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }



            .suggestionsPositioner {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .suggestionsList {
                position: absolute;
                top: 3rem;
                width: auto;
                border-top: none;
                background: white;
                height: 65px;
                z-index: 1;

                .suggestionListElement {
                    height: auto;
                    width: 210px;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }


            .formInputs:last-of-type {
                margin: 1rem 0 1rem 0;
            }

            .about_button {
                border-radius: 4px;
                background-color: #00D6A6;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-family: $font-source;
                font-size: 1.5rem;
                padding: .5rem .5rem .5rem .5rem;
                width: 12rem;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .about_button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

            }

            .about_button span:after {

                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .about_button:hover span {
                padding-right: 25px;
            }

            .about_button:hover span:after {
                opacity: 1;
                right: 0;
            }

            .about_button2 {
                border-radius: 4px;
                background-color: #00D6A6;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-family: $font-source;
                font-size: 1.5rem;
                padding: .5rem .5rem .5rem .5rem;
                width: 12rem;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

            .about_button2 span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

            }

            .about_button2 span:after {

                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .about_button2:hover span {
                padding-right: 25px;
            }

            .about_button2:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }

    .errorInfo {
        font-family: $font-source;
        font-size: 1.8rem;
        text-align: center;
        color: #ff008b;
    }

    .successInfo {
        font-family: $font-source;
        font-size: 1.8rem;
        text-align: center;
        color: #00d5a6;
        margin-bottom: 1rem;
    }

    .range_checkButtonsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .petRotate {
        transform: rotate(360deg);
        transition: 2s;
    }

    .formInputs {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-bottom: #f1e8e8 solid 1px;
    }
}