@media (max-width: 450px) {
    .mainPage_topBar {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: #f1e8e8 solid 1px;

        .topBar_mailContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .topBar_phoneContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mainPage_topBar_text {
            font-size: 1rem;
            font-family: $font-source;
            text-decoration: none;
            color: $main_color;
        }

        .mainPage_topBar_text-number {
            padding-bottom: .25rem;
        }

        .mainPage_topBar_icon {
            font-size: 1.3rem;
            padding: .25rem .5rem .25rem .5rem;
            color: rgb(0, 214, 166);
        }

        .mainPage_topBar_text-number:hover {
            transition: .5s;
            color: #00d6a6;
        }

        .mainPage_topBar_mail:hover {
            transition: .5s;
            color: #00D6A6;
        }

    }


    .cookiesInfo_container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(51, 51, 51, .98);
        // top: 2rem;
        bottom: 0;
        height: 6rem;
        width: 100%;
        position: fixed;

        .fa-cookie-bite {
            font-size: 2rem;
            color: white;
            margin-left: 1rem;
        }

        p {
            font-family: $font-source;
            font-size: .6rem;
            color: white;
            margin: 0 1rem 0 1rem;
        }

        .cookie__button {
            color: white;
            font-size: .7rem;
            background-color: #00D6A6;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 1rem;
            padding: .4rem .4rem .4rem .4rem;
        }
    }

    .phoneIcon_link {
        color: white;

        .phoneIcon_container {
            background-color: rgb(26, 240, 26);
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 50%;
            position: fixed;
            bottom: .5rem;
            right: .5rem;
            z-index: 1;
            cursor: pointer;

            .fa-phone {

                font-size: 2rem;
            }
        }
    }

    .phoneIcon_link:active {
        color: #ff008b;
    }
}

@media(min-width:450px)and(max-width:700px) {
    .mainPage_topBar {
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: #f1e8e8 solid 1px;

        .mainPage_topBar_text {
            font-size: .88rem;
            font-family: $font-source;
            text-decoration: none;
            color: $main_color;
            padding-left: .5rem;
        }

        .mainPage_topBar_icon {
            font-size: 1.18rem;
            padding-left: .5rem;
            color: #00D6A6;
        }

        .mainPage_topBar_icon_phone {
            padding-left: 1rem;
            border-left: #f1e8e8 1px solid;
        }

        .mainPage_topBar_mail {
            padding-right: 1rem;
        }

        .mainPage_topBar_mail:hover {
            transition: .5s;
            color: #00D6A6;
        }

        .mainPage_topBar_icon_envelope {
            padding-left: 1.5rem;
        }

        .mainPage_topBar_text-number:hover {
            transition: .5s;
            color: #00D6A6;
        }
    }

    .cookiesInfo_container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(51, 51, 51, .98);
        // top: 2rem;
        bottom: 0;
        height: 6rem;
        width: 100%;
        position: fixed;

        .fa-cookie-bite {
            font-size: 2rem;
            color: white;
            margin-left: 1rem;
        }

        p {
            font-family: $font-source;
            font-size: .8rem;
            color: white;
            margin: 0 1rem 0 1rem;
        }

        .cookie__button {
            color: white;
            font-size: .8rem;
            background-color: #00D6A6;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 1rem;
            padding: .5rem .5rem .5rem .5rem;
        }
    }


    .phoneIcon_link {
        color: white;

        .phoneIcon_container {
            background-color: rgb(26, 240, 26);
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 50%;
            position: fixed;
            bottom: .5rem;
            right: .5rem;
            z-index: 1;
            cursor: pointer;

            .fa-phone {

                font-size: 2rem;
            }
        }
    }

    .phoneIcon_link:active {
        color: #ff008b;
    }


}

@media(min-width:700px) {
    .mainPage_topBar {
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: #f1e8e8 solid 1px;

        .mainPage_topBar_text {
            font-size: 1rem;
            font-family: $font-source;
            text-decoration: none;
            color: $main_color;
            padding-left: .5rem;
        }

        .mainPage_topBar_icon {
            font-size: 1.5rem;
            padding-left: .5rem;
            color: #00D6A6;
        }

        .mainPage_topBar_icon_phone {
            padding-left: 1rem;
            border-left: #f1e8e8 1px solid;
        }

        .mainPage_topBar_mail {
            padding-right: 1rem;
        }

        .mainPage_topBar_mail:hover {
            transition: .5s;
            color: #00D6A6;
        }

        .mainPage_topBar_icon_envelope {
            padding-left: 1.5rem;
        }

        .mainPage_topBar_text-number:hover {
            transition: .5s;
            color: #00D6A6;
        }
    }

    .cookiesInfo_container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(51, 51, 51, .98);
        bottom: 0;
        height: 6rem;
        width: 100%;

        .fa-cookie-bite {
            font-size: 2rem;
            color: white;
        }

        p {
            font-family: $font-source;
            font-size: .9rem;
            color: white;
            margin: 0 1rem 0 1rem;
        }

        .cookie__button {
            color: white;
            font-size: .9rem;
            background-color: #00D6A6;
            border: none;
            border-radius: 4px;
            padding: .5rem .5rem .5rem .5rem;
            cursor: pointer;
        }


    }

    .phoneIcon_link {
        display: none;
    }
}